.lodestone{/*want bgd to change color of nav bar*/

    margin:15px;
    border:4px;
    border-color:#00000000;
    border-style:double;
    padding:20px;
    overflow: hidden;
    list-style-type: none;
    font-family: "Times New Roman", Times, serif; 
    background-color:#c57be0;
    animation-name:TrippyScreen;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    opacity: 0.5;
    
}

.lodestone::hoover{

    
  
}

.ruff{

    color:#edae93;
    float: left;
    display: block;
    text-align: center;
    padding: 16px 27px;
    text-decoration: none;
    font-size: 23px;
    
}

.townSq{/*This is for the information in the column...*/

    overflow: scroll;
    border-style:double;
    padding:15px;
    
}

.Tite{/*Title of the column*/

    font-family:"Brush Script MT",cursive;
    font-size:96px;
    display:inline-block;
    padding:5px;
    margin:10px;
    border-style:none;
    
}

/*This is for the sections*/

.Sec1{

    margin:30px:
    border-top: 4px double black;
    border-left: 4px double black;
    padding: 20px;
    font-family:"Times New Roman", Times, serif;
    
}

@TrippyScreen{/*actual animation of the navbar*/

    from{background-color:#e3b068;}
    to{background-color:#84f0de;}
    
}

@media screen and (max-width: 600px){/*mobile screen*/
    .topnav a,.topnav input[type=text]{
        float:none;
        dispaly:block;
        text-align: left;
        width:100%;
        margin:0;
        padding:14px;
    }
    .topnav input[type=text]{
        border:1px solid #FFFF11;
    }
}
